{% extends "terminal/templates/index.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path='footnote.css', trailing_slash=false) | safe }}">
<link rel="stylesheet" href="{{ get_url(path='page.css', trailing_slash=false) | safe }}">
<link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css">

<meta name="google-site-verification" content="I4O4hRvGX4CkU3wvuZTczjjZFLuG3YINxBvx2be_tHY">
{% if config.extra.logo_icon -%}
<link rel="stylesheet" href="{{ get_url(path='icon.css', trailing_slash=false) | safe }}">
{% endif -%}

{% block seo_head %}
<meta property="og:title" content="House-of-Rona">
<meta property="og:image" content="/images/icon.jpg">
<meta property="og:description" content="Rona's Blog">
<meta name="twitter:site" content="@907903">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="House-of-Rona">
<meta name="twitter:image" content="/images/icon.jpg">
<meta property="author" content="Rona (rqdaA)">
<meta property="description" content="Rona's Blog">
{% endblock seo_head %}

{% endblock extra_head %}


{% block header %}
<header class="header">
    <div class="header__inner">
        <div class="header__logo">
            {% if config.extra.logo_icon %}
            <img src="{{ config.extra.logo_icon | safe }}" alt="">
            {% endif %}

            {%- if config.extra.logo_home_link %}
            {% set logo_link = config.extra.logo_home_link %}
            {% else %}
            {% set logo_link = config.base_url %}
            {% endif -%}
            <a href="{{ logo_link | safe }}" style="text-decoration: none;">
                <div class="logo">
                    {% block logo_content %}
                    {%- if config.extra.logo_text %}
                    {{ config.extra.logo_text }}
                    {% else %}
                    Terminimal theme
                    {% endif -%}
                    {% endblock logo_content %}
                </div>
            </a>
        </div>
    </div>

    {% block header_menu %}
    {{ menu_macros::menu(config=config, current_path=current_path) }}
    {% endblock header_menu %}
</header>
{% endblock header %}

{% block content %}
<div class="posts">
    {%- if paginator %}
    {%- set show_pages = paginator.pages -%}
    {% else %}
    {%- set show_pages = section.pages -%}
    {% endif -%}

    {%- for page in show_pages %}
    <div class="post on-list">
        {{ post_macros::header(page=page) }}
        <div class="post-content">
            {%- if page.description %}
            {{ page.description | safe }}
            {%- elif page.summary %}
            {{ page.summary | safe }}
            {%- endif %}
        </div>
        <div>
            <!-- &#xFE0E; -- force text style - some devices render this as emoji -->
            <a class="read-more button" href="{{ page.permalink | safe }}">
                <span class="button__text">Read more</span>&nbsp;
                <span class="button__icon">&#8617;&#xFE0E;</span>
            </a>
        </div>
    </div>
    {% endfor -%}
    <div class="pagination">
        <div class="pagination__buttons">
            {%- if paginator.previous %}
            <span class="button previous">
                        <a href="{{ paginator.previous | safe }}">
                            <span class="button__icon">←</span>&nbsp;
                            <span class="button__text">Newer posts</span>
                        </a>
                    </span>
            {% endif -%}
            {%- if paginator.next %}
            <span class="button next">
                        <a href="{{ paginator.next | safe }}">
                            <span class="button__text">Older posts</span>&nbsp;
                            <span class="button__icon">→</span>
                        </a>
                    </span>
            {% endif -%}
        </div>
    </div>
</div>
{% endblock content %}
