{% extends "index.html" %}

{%- block title -%}
{{ title_macros::title(page_title=page.title, main_title=config.title) }}
{%- endblock -%}

{% block seo_head %}
<meta property="og:title" content="{{ page.title }} | House-of-Rona">
<meta property="og:image" content="https://github.com/rqdaA.png">
<meta name="twitter:site" content="@907903">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title }} | House-of-Rona">
<meta name="twitter:image" content="https://github.com/rqdaA.png">
<meta property="author" content="Rona (rqdaA)">
{% if page.description -%}
<meta property="description" content="{{ page.description }}">
<meta property="og:description" content="{{ page.description }}">
{% elif page.summary -%}
<meta property="description" content="{{ page.summary }}">
<meta property="og:description" content="{{ page.summary }}">
{% else -%}
<meta property="description" content="Rona's Blog">
<meta property="og:description" content="Rona's Blog">
{% endif -%}
{% endblock %}

{% block content %}
<div class="post">
    {{ post_macros::header(page=page) }}
    {% if page.toc %}
    <h1>Table of Content</h1>
    <ul>
        {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
            <ul>
                {% for h2 in h1.children %}
                <li>
                    <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <hr>
    {% endif %}

    {{ post_macros::content(page=page, summary=false) }}
    {{ post_macros::earlier_later(page=page) }}
</div>
{% endblock content %}